<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Oury blog</h1>
        <a class="post" href="/new">Post</a>
        <% if(locals.posts){%>
            <% posts.forEach((post) =>{ %>
                <div class="content">
                    <h3><%=post.quote%></h3>
                    <p><%=post.category%></p>
                    <small><%= post.author%></small> <br>
                    <a class="first" href="/edit/<%= post.id%>" >Edit</a>
                    <a class="last" href="/api/delete/<%= post.id %>">Delete</a>
                </div>
            <% }) %>
        <%} %>
        
        
    </div>
</body>
</html>